<%= form_for :auth, url: auth_index_path, method: :post do |f| %>

  <div class='form-group'>
    <%= f.label t('auth.new.form.secret_token.title'), for: :secret_token  %>
    <%= f.password_field :secret_token, class: 'form-control' %>
  </div>

  <%= f.submit t('auth.new.form.submit.title'), type: 'submit', class: 'btn btn-primary' %>
<% end %>
