<div class="jumbotron p-3 jumbotron-fluid">
  <h1 class="display-5"><%= @schedule.title %></h1>
  <p class="lead">
    <span class="badge badge-dark"><%= @schedule.start_week %> — <%= @schedule.end_week %>
    </span>
  </p>
  <hr class="my-4">
  <hr class="my-4">
</div>
