<div class="jumbotron p-3 jumbotron-fluid bg-light">
  <h1 class="display-5"><%= t('users.new.title') %></h1>
  <hr class="my-4">
    <%= render "devise/shared/links" %>
  <hr class="my-4">
    <%= render "form" %>
</div>
