<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href='<%= "#{schedules_path}" %>'>
    <%= image_tag 'ruby.png', width: "35", height: "30", class: "d-inline-block align-top",  alt: "Planning Now" %>
    <%= 'E-School' %>
  </a>
</nav>
